.form-control {
  margin: 1rem 0;
}

.form-control label,
.form-control input,
.form-control textarea {
  display: block;
}

.form-control label {
  color: #878787;
  font-family: "Product Sans";
  text-align: left;
  margin-bottom: 0.5rem;
}

.form-control input,
.form-control textarea {
  border: none;
  width: 100%;
  font: inherit;
  border-bottom: 1px solid #ccc;
  background: transparent;
  padding: 15px;
  font-size: 18px;
}

.form-control input:focus,
.form-control textarea:focus {
  outline: none;
}

.form-control--invalid label,
.form-control--invalid p {
  color: red;
}

.form-control--invalid input,
.form-control--invalid textarea {
  border-color: red;
  background: #ffd1d1;
}
